Repository snapodds/sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, nx format --write --files, stylelint --fix

specify timezone for odds specs
  apps/snapodds/src/app/odds/odds.component.spec.ts
  package-lock.json
  package.json
Due: eslint --fix, nx format --write --files

replace testing urls with example.com
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/app/snap/snap.component.spec.ts
  apps/snapodds/src/services/config/application-config.service.spec.ts
Due: eslint --fix, nx format --write --files

move analytics from httpService to facade
  apps/snapodds/src/services/api/tv-search.service.spec.ts
  apps/snapodds/src/services/api/tv-search.service.ts
  apps/snapodds/src/services/snap-odds/snap-odds-facade.service.spec.ts
  apps/snapodds/src/services/snap-odds/snap-odds-facade.service.ts
Due: eslint --fix, nx format --write --files

show empty results when no sportBooks returned
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/app/odds/odds.component.ts
Due: eslint --fix, nx format --write --files

remove auth interceptor, add headers to each http service
  apps/snapodds/src/app/app.module.ts
  apps/snapodds/src/services/api/odds.service.spec.ts
  apps/snapodds/src/services/api/odds.service.ts
  apps/snapodds/src/services/api/tv-search.service.ts
  apps/snapodds/src/services/auth/auth-interceptor.service.spec.ts
  apps/snapodds/src/services/auth/auth-interceptor.service.ts
  apps/snapodds/src/services/auth/auth.service.spec.ts
  apps/snapodds/src/services/auth/auth.service.ts
Due: eslint --fix, nx format --write --files

emit only first sportEvent from response
  apps/snapodds/src/app/app.component.html
  apps/snapodds/src/app/app.component.spec.ts
  apps/snapodds/src/app/app.component.ts
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/app/odds/odds.component.ts
  apps/snapodds/src/app/snap/snap.component.spec.ts
  apps/snapodds/src/app/snap/snap.component.ts
  apps/snapodds/src/config/application-config.ts
  apps/snapodds/src/index.html
  apps/snapodds/src/services/config/application-config.service.spec.ts
  apps/snapodds/src/services/config/application-config.service.ts
Due: eslint --fix, nx format --write --files

auto snap after camera has been initialized
  apps/snapodds/src/app/snap/snap.component.spec.ts
  apps/snapodds/src/app/snap/snap.component.ts
Due: eslint --fix, nx format --write --files

migrate nx to latest version
  nx.json
  package-lock.json
  package.json
Due: nx format --write --files

update nx project version
  angular.json
  package-lock.json
  package.json
Due: nx format --write --files

change eventEmitter to direct callbacks, added sdk-wrapper for easier user integration
  .run/All Tests - Snapoods Builder.run.xml
  apps/snapodds-builder/package.json
  apps/snapodds-builder/src/app/banner-sdk.builder.spec.ts
  apps/snapodds-builder/src/app/banner-sdk.builder.ts
  apps/snapodds-builder/src/app/odds-sdk.builder.spec.ts
  apps/snapodds-builder/src/app/odds-sdk.builder.ts
  apps/snapodds-builder/src/app/sdk-builder.ts
  apps/snapodds-builder/src/app/sdk.builder.spec.ts
  apps/snapodds-builder/src/app/snap-odds-sdk-element.type.ts
  apps/snapodds-builder/src/app/snap-sdk.builder.ts
  apps/snapodds-builder/src/app/snapodds-sdk-wrapper.ts
  apps/snapodds-builder/src/index.ts
  apps/snapodds-builder/tsconfig.json
  apps/snapodds/project.json
  apps/snapodds/src/app/app.component.spec.ts
  apps/snapodds/src/app/app.component.ts
  apps/snapodds/src/config/application-config.ts
  apps/snapodds/src/index.html
  apps/snapodds/src/services/auth/auth.service.spec.ts
  apps/snapodds/src/services/auth/auth.service.ts
  apps/snapodds/src/services/config/application-config.service.spec.ts
  apps/snapodds/src/services/config/application-config.service.ts
  apps/snapodds/src/services/i18n/translation-entries.de.ts
  apps/snapodds/src/services/i18n/translation-entries.en.ts
  build-elements.js
  package.json
Due: eslint --fix, nx format --write --files

add .nvmrc configured to latest LTS (16)
  .nvmrc
Due: none

Refactoring of the Auth service
  apps/snapodds/src/app/odds/odds.component.scss
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/app/odds/odds.component.ts
  apps/snapodds/src/app/snap/snap.component.spec.ts
  apps/snapodds/src/app/snap/snap.component.ts
  apps/snapodds/src/services/api/api-errors.ts
  apps/snapodds/src/services/api/odds.service.spec.ts
  apps/snapodds/src/services/api/odds.service.ts
  apps/snapodds/src/services/api/tv-search.service.spec.ts
  apps/snapodds/src/services/api/tv-search.service.ts
  apps/snapodds/src/services/auth/auth.service.spec.ts
  apps/snapodds/src/services/auth/auth.service.ts
  apps/snapodds/src/services/notification/notification.service.ts
  apps/snapodds/src/services/snap-odds/snap-odds-facade.service.spec.ts
  apps/snapodds/src/services/snap-odds/snap-odds-facade.service.ts
  libs/response/src/lib/typings/odds/competitor.ts
  libs/response/src/lib/typings/odds/odds-offer-outcome.ts
  libs/response/src/lib/typings/odds/odds-offer.ts
  libs/response/src/lib/typings/odds/odds-response.ts
  libs/response/src/lib/typings/odds/player.ts
  libs/response/src/lib/typings/odds/sports-book.ts
  libs/response/src/lib/typings/tv-search/point2d.ts
  libs/response/src/lib/typings/tv-search/quadrangle2d.ts
  libs/response/src/lib/typings/tv-search/sport-event.ts
  libs/response/src/lib/typings/tv-search/tv-channel.ts
  libs/response/src/lib/typings/tv-search/tv-search-result-entry.ts
  libs/response/src/lib/typings/tv-search/tv-search-result.ts
Due: eslint --fix, nx format --write --files, stylelint --fix

Refactoring of the Auth service: Code formatting, fix typeguard
  apps/snapodds/src/app/odds/odds.component.ts
  apps/snapodds/src/services/auth/auth.service.ts
  apps/snapodds/src/services/notification/notification.service.ts
Due: eslint --fix, nx format --write --files

Optimize viewfinder, optimize layout for smaller screens
  apps/snapodds/src/app/app.module.ts
  apps/snapodds/src/app/footer/footer.component.scss
  apps/snapodds/src/app/header/header.component.scss
  apps/snapodds/src/app/help/help.component.scss
  apps/snapodds/src/app/snap/snap.component.html
  apps/snapodds/src/app/snap/snap.component.scss
  apps/snapodds/src/app/svgs/switch-svg.component.ts
  apps/snapodds/src/app/svgs/switch-svg.styles.scss
  apps/snapodds/src/app/svgs/switch.svg
  apps/snapodds/src/app/user-feedback-message/user-feedback-message.component.html
  apps/snapodds/src/app/user-feedback-message/user-feedback-message.component.scss
  apps/snapodds/src/app/user-feedback-message/user-feedback-message.component.ts
  apps/snapodds/src/app/webcam/webcam.component.html
  apps/snapodds/src/app/webcam/webcam.component.scss
  apps/snapodds/src/services/i18n/translation-entries.de.ts
  apps/snapodds/src/services/i18n/translation-entries.en.ts
  apps/snapodds/src/services/i18n/translation-entries.ts
  apps/snapodds/src/styles/_tools.scss
  apps/snapodds/src/styles/tools/_tools.media-queries.scss
Due: eslint --fix, nx format --write --files, stylelint --fix

Setup github actions for automatic build, test and deployment of artifacts
  .github/workflows/github-actions.yml
  apps/snapodds-builder/src/app/odds-sdk.builder.spec.ts
  build-elements.js
Due: eslint --fix, nx format --write --files

fix path for sdk-wrapper in build script
  build-elements.js
Due: none

Changed SnapOdds SDK version
  apps/snapodds-builder/package.json
  libs/response/package.json
  package-lock.json
  package.json
Due: nx format --write --files

Deploying to gh-pages from @ snapodds/sdk-js@be3bc6769990fdd66b78710539369cdabdd500ff 🚀
  index.html
Due: nx format --write --files

setup documentation
  .github/workflows/github-actions.yml
  README.md
  apps/snapodds-api/README.md
  apps/snapodds-builder/README.md
  apps/snapodds/README.md
  libs/response/README.md
Due: nx format --write --files

optimize layout for tiny screens
  apps/snapodds/src/app/footer/footer.component.scss
  apps/snapodds/src/app/header/header.component.scss
  apps/snapodds/src/app/odds/odds.component.scss
  apps/snapodds/src/app/snap/snap.component.scss
  apps/snapodds/src/app/user-feedback-message/user-feedback-message.component.scss
  apps/snapodds/src/app/webcam/webcam.component.scss
  apps/snapodds/src/styles/_tools.scss
  apps/snapodds/src/styles/tools/_tools.flat-breaks.scss
Due: nx format --write --files, stylelint --fix

dont publish documentation for prs
  .github/workflows/github-actions.yml
Due: none

Release 1.0.1
  apps/snapodds-builder/package.json
  libs/response/package.json
  package-lock.json
  package.json
Due: nx format --write --files

Deploying to gh-pages from @ snapodds/sdk-js@cc3861dc5e8d612d981cf30652805f89f853df05 🚀
  components/FooterComponent.html
  components/HeaderComponent.html
  components/OddsComponent.html
  components/SnapComponent.html
  components/UserFeedbackMessageComponent.html
  components/WebcamComponent.html
  js/search/search_index.js
Due: nx format --write --files

Implemented SnapOdds sample application
  .run/start_sample.run.xml
  sample/.env-sample
  sample/.gitignore
  sample/README.md
  sample/package-lock.json
  sample/package.json
  sample/src/app/fetch-auth-token.ts
  sample/src/assets/css/styles.css
  sample/src/assets/favicon.ico
  sample/src/assets/images/apple-touch-icon-114x114-precomposed.png
  sample/src/assets/images/apple-touch-icon-144x144-precomposed.png
  sample/src/assets/images/apple-touch-icon-72x72-precomposed.png
  sample/src/assets/images/apple-touch-icon-precomposed.png
  sample/src/assets/index.html
  sample/src/certs/localhost.crt
  sample/src/certs/localhost.key
  sample/src/main.ts
  sample/tsconfig.json
Due: eslint --fix, nx format --write --files

Rename builders
  apps/snapodds-builder/src/app/operators-sdk.builder.ts
  apps/snapodds-builder/src/app/sdk-builder.ts
  apps/snapodds-builder/src/app/snapodds-sdk-wrapper.ts
  apps/snapodds-builder/src/app/sports-media-sdk.builder.spec.ts
  apps/snapodds-builder/src/app/sports-media-sdk.builder.ts
  apps/snapodds/src/index.html
Due: eslint --fix, nx format --write --files

Increase version number
  apps/snapodds-builder/package.json
  libs/response/package.json
  package-lock.json
  package.json
Due: nx format --write --files

change text for Snapodds_Device_No_Permission message to make it clearer that the browser needs camera permission
  apps/snapodds/src/services/i18n/translation-entries.en.ts
Due: eslint --fix, nx format --write --files

add best-of-odds feature
  apps/snapodds/src/app/app.module.ts
  apps/snapodds/src/app/odds-line/odds-line.component.html
  apps/snapodds/src/app/odds-line/odds-line.component.scss
  apps/snapodds/src/app/odds-line/odds-line.component.spec.ts
  apps/snapodds/src/app/odds-line/odds-line.component.ts
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.scss
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/app/odds/odds.component.ts
  apps/snapodds/src/app/pipes/best-offer.pipe.spec.ts
  apps/snapodds/src/app/pipes/best-offer.pipe.ts
  apps/snapodds/src/app/pipes/number-format.pipe.spec.ts
  apps/snapodds/src/app/pipes/number-format.pipe.ts
  apps/snapodds/src/models/best-offer-line-view-model.ts
  apps/snapodds/src/models/best-offer-view-model.ts
  apps/snapodds/src/models/line-odds.ts
  apps/snapodds/src/models/sports-book-line-view-model.ts
  apps/snapodds/src/models/sports-book-view-model.ts
  apps/snapodds/src/services/api/line-odds.mapped.ts
  apps/snapodds/src/services/api/odds.service.ts
  apps/snapodds/src/styles.scss
  apps/snapodds/src/styles/settings/_settings.fonts.scss
  libs/response/src/lib/mocks/line-odds.mock.ts
  libs/response/src/lib/typings/odds/index.ts
  libs/response/src/lib/typings/odds/odds-best-offer.ts
  libs/response/src/lib/typings/odds/odds-offer.ts
  libs/response/src/lib/typings/odds/odds-response.ts
  libs/response/src/lib/typings/odds/outcome.ts
Due: eslint --fix, nx format --write --files, stylelint --fix

Increase version number to 1.0.3
  apps/snapodds-builder/package.json
  libs/response/package.json
  package-lock.json
  package.json
Due: nx format --write --files

Deploying to gh-pages from @ snapodds/sdk-js@0e03bf8a952103e076c3c222b4da6cb435daec28 🚀
  components/AppComponent.html
  components/FooterComponent.html
  components/HeaderComponent.html
  components/HelpComponent.html
  components/OddsComponent.html
  components/OddsLineComponent.html
  components/SnapComponent.html
  components/SpinnerComponent.html
  components/SwitchSvgComponent.html
  components/TriggerComponent.html
  components/TriggerSvgComponent.html
  components/UserFeedbackMessageComponent.html
  components/WebcamComponent.html
  coverage.html
  graph/dependencies.svg
  images/coverage-badge-documentation.svg
  injectables/OddsService.html
  interfaces/BestOfferLineViewModel.html
  interfaces/BestOfferViewModel.html
  interfaces/LineOdds.html
  interfaces/OddsBestOffer.html
  interfaces/OddsBestOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/SportsBookLineViewModel.html
  interfaces/SportsBookViewModel.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
  overview.html
  pipes/BestOfferLinePipe.html
  pipes/NumberFormatPipe.html
Due: nx format --write --files

Path conditions:
  eslint --fix: any of: *.ts
  nx format --write --files: ((any of: *.ts) or (any of: **/*.{html,svg,json,md})) or (any of: **/*.scss)
  stylelint --fix: any of: **/*.scss
