Repository snapodds/sdk-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, nx format --write --files, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "nx format --write --files"],
  "**/*.{html,svg,json,md}": ["nx format --write --files"],
  "**/*.scss": ["stylelint --fix", "nx format --write --files"]
}

Generate documentation for the SDK builders
  .compodocrc.json
  .github/workflows/github-actions.yml
  apps/snapodds-builder/.compodocrc.json
  apps/snapodds-builder/DEVELOPMENT.md
  apps/snapodds-builder/README.md
  apps/snapodds-builder/project.json
  apps/snapodds-builder/src/app/sdk-builder.ts
  apps/snapodds-builder/tsconfig.doc.json
  apps/snapodds/project.json
  libs/response/src/lib/typings/auth/access-token.ts
  libs/response/src/lib/typings/odds/odds-best-offer.ts
  libs/response/src/lib/typings/odds/outcome.ts
  package.json
Due: eslint --fix, nx format --write --files

upgrade nx
  apps/snapodds-api/project.json
  apps/snapodds-builder/project.json
  decorate-angular-cli.js
  package-lock.json
  package.json
Due: nx format --write --files

add best-of-odds feature
  apps/snapodds/src/app/odds-line/odds-line.component.html
  apps/snapodds/src/app/odds-line/odds-line.component.scss
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.scss
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/models/sports-book-line-view-model.ts
  apps/snapodds/src/services/api/line-odds.mapped.ts
  apps/snapodds/src/services/api/odds.service.ts
  apps/snapodds/src/styles.scss
  apps/snapodds/src/styles/settings/_settings.colors.scss
  libs/response/src/lib/mocks/line-odds.mock.ts
  libs/response/src/lib/typings/odds/odds-offer-outcome.ts
Due: eslint --fix, nx format --write --files, stylelint --fix

make sportsbooks clickable
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.scss
  apps/snapodds/src/app/odds/odds.component.spec.ts
  apps/snapodds/src/app/odds/odds.component.ts
  apps/snapodds/src/models/line-odds.ts
  apps/snapodds/src/models/sports-book-view-model.ts
Due: eslint --fix, nx format --write --files, stylelint --fix

fix Prototype Pollution in minimist
  package-lock.json
Due: nx format --write --files

upgrade parcel to 2.4
  apps/snapodds-builder/project.json
  package-lock.json
  package.json
Due: nx format --write --files

WEB-307 / As SnapOdds I need JS SDK to use customer settings
  angular.json
  apps/snapodds/src/app/app.module.ts
  apps/snapodds/src/app/snap/snap-errors.ts
  apps/snapodds/src/app/snap/snap.component.html
  apps/snapodds/src/app/snap/snap.component.scss
  apps/snapodds/src/app/snap/snap.component.spec.ts
  apps/snapodds/src/app/snap/snap.component.ts
  apps/snapodds/src/config/customer-application-config.ts
  apps/snapodds/src/services/api/customers.service.spec.ts
  apps/snapodds/src/services/api/customers.service.ts
  apps/snapodds/src/services/config/application-config.service.spec.ts
  apps/snapodds/src/services/config/application-config.service.ts
  apps/snapodds/src/services/config/customer-application-config.service.spec.ts
  apps/snapodds/src/services/config/customer-application-config.service.ts
  libs/response/src/lib/mocks/customer.mock.ts
  libs/response/src/lib/mocks/index.ts
  libs/response/src/lib/typings/customers/customer.ts
  libs/response/src/lib/typings/customers/index.ts
  libs/response/src/lib/typings/index.ts
Due: eslint --fix, nx format --write --files, stylelint --fix

WEB-300 - Suggestion to increase the clickable area
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.scss
Due: nx format --write --files, stylelint --fix

WEB-315 / as a user I want to see the league at the odds lines when available
  apps/snapodds/src/app/odds/odds.component.html
  apps/snapodds/src/app/odds/odds.component.scss
  apps/snapodds/src/app/odds/odds.component.spec.ts
  libs/response/src/lib/mocks/sport-event-tv-search.mock.ts
  libs/response/src/lib/typings/tv-search/sport-event.ts
Due: eslint --fix, nx format --write --files, stylelint --fix

Make auto snap intervals configurable
  apps/snapodds-builder/src/app/sdk-builder.ts
  apps/snapodds-builder/src/app/sdk.builder.spec.ts
  apps/snapodds-builder/src/app/snap-odds-sdk-element.type.ts
  apps/snapodds/src/app/app.component.spec.ts
  apps/snapodds/src/app/app.component.ts
  apps/snapodds/src/config/application-config.ts
  apps/snapodds/src/services/config/application-config.service.spec.ts
  apps/snapodds/src/services/config/application-config.service.ts
Due: eslint --fix, nx format --write --files

WEB-321 - When viewing the results of the snap, the site will scroll in the background
  apps/snapodds/src/app/app.component.scss
  apps/snapodds/src/app/app.component.spec.ts
  apps/snapodds/src/app/app.component.ts
  package-lock.json
  package.json
Due: eslint --fix, nx format --write --files, stylelint --fix

Increase version number to 1.0.4
  apps/snapodds-builder/package.json
  libs/response/package.json
  package-lock.json
  package.json
Due: nx format --write --files

Updates
  index.html
  interfaces/AccessToken.html
  interfaces/Competitor.html
  interfaces/Customer.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportEvent.html
  interfaces/SportsBook.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
Due: nx format --write --files

Updates
  classes/OddsSdkBuilder.html
  classes/OperatorsSdkBuilder.html
  classes/SdkBuilder.html
  classes/SportsMediaSdkBuilder.html
  index.html
  interfaces/AccessToken.html
  interfaces/Competitor.html
  interfaces/Config.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportEvent.html
  interfaces/SportsBook.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
  properties.html
Due: nx format --write --files

Updates
  index.html
  interfaces/AccessToken.html
  interfaces/Competitor.html
  interfaces/Config.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportEvent.html
  interfaces/SportsBook.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
Due: nx format --write --files

Updates
  classes/LiveEventsStatusChangedDetector.html
  classes/MissingAccessTokenProviderError.html
  classes/NextSportEventDetector.html
  classes/OddsSdkBuilder.html
  classes/OperatorsSdkBuilder.html
  classes/SdkBuilder.html
  classes/SportEvent.html
  classes/SportsMediaSdkBuilder.html
  graph/dependencies.svg
  index.html
  interfaces/Config.html
  interfaces/GeoLocation.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  miscellaneous/variables.html
  overview.html
Due: nx format --write --files

Updates
  classes/NextSportEventDetector.html
  index.html
  interfaces/AccessToken.html
  interfaces/Competitor.html
  interfaces/Config.html
  interfaces/GeoLocation.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportEvent.html
  interfaces/SportsBook.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
  properties.html
Due: nx format --write --files

Updates
  classes/NextSportEventDetector.html
  interfaces/AccessToken.html
  interfaces/Competitor.html
  interfaces/Config.html
  interfaces/GeoLocation.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportEvent.html
  interfaces/SportsBook.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
  properties.html
Due: nx format --write --files

Updates
  classes/ClipShareSdkBuilder.html
  classes/NextSportEventDetector.html
  classes/OddsSdkBuilder.html
  classes/SdkBuilder.html
  classes/SportsMediaSdkBuilder.html
  index.html
  interfaces/Clip.html
  interfaces/ClipPreview.html
  interfaces/ClipPreviewFrame.html
  interfaces/ClipPreviewSettings.html
  interfaces/Config.html
  interfaces/EpgUnit.html
  interfaces/FragmentLink.html
  interfaces/TimestampedLink.html
  js/search/search_index.js
  miscellaneous/typealiases.html
  properties.html
Due: nx format --write --files

Updates
  classes/ClipShareSdkBuilder.html
  index.html
  interfaces/AccessToken.html
  interfaces/Clip.html
  interfaces/ClipPreview.html
  interfaces/ClipPreviewFrame.html
  interfaces/ClipPreviewSettings.html
  interfaces/Competitor.html
  interfaces/Config.html
  interfaces/EpgUnit.html
  interfaces/FragmentLink.html
  interfaces/GeoLocation.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportsBook.html
  interfaces/TimestampedLink.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
Due: nx format --write --files

Updates
  index.html
  interfaces/AccessToken.html
  interfaces/Clip.html
  interfaces/ClipPreview.html
  interfaces/ClipPreviewFrame.html
  interfaces/ClipPreviewSettings.html
  interfaces/Competitor.html
  interfaces/Config.html
  interfaces/EpgUnit.html
  interfaces/FragmentLink.html
  interfaces/GeoLocation.html
  interfaces/Link.html
  interfaces/OddsOffer.html
  interfaces/OddsOfferOutcome.html
  interfaces/OddsResponse.html
  interfaces/Player.html
  interfaces/Point2d.html
  interfaces/Quadrangle2d.html
  interfaces/SportsBook.html
  interfaces/TimestampedLink.html
  interfaces/TvChannel.html
  interfaces/TvSearchResult.html
  interfaces/TvSearchResultEntry.html
  js/search/search_index.js
  miscellaneous/enumerations.html
  miscellaneous/typealiases.html
Due: nx format --write --files
